@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-danger">
      <h1> Hello World</h1>
</div>

<div class="row">
    <div class="col-md-4">
        
        <button class="btn btn-danger btn-lg">Book Ticket</button>
       
    </div>
    <div class="col-md-4">
        <button class="btn btn-danger btn-lg">Cart</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-danger btn-lg">Rigister</button>
    </div>

</div>